div{
	height: 500px;
	border: 1px solid black;
	text-align: center;
	width:500px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}

canvas{
	background-color: #D3D3D3FF;
	width: 450px;
	height: 400px;
	border: 1px solid black;
}

/*CANVAS FIGURES*/

#Sect_1 {
	background-color: lightblue;
}

#Sect_2{
	background-color: lightgreen;
}

#Sect_3{
	background-color: gold;
}

#Sect_4{
	background-color: pink;
}

#Sect_5{
	background-color: #9A9BB6FF;
}

#Sect_6{
	background-color: #FFE87AFF;
}

#Sect_7{
	background-color: purple;
}

#Sect_8{
	background-color: red;
}

#Sect_9{
	background-color: #D375FFFF;
}

#Sect_10{
	background-color: #7FFFFFFF;
}

#Sect_11{
	background-color: #D1D1D1FF;
}

#Sect_12{
	background-color: #EEC195FF;
}




