#Figure_01{
	background: lightblue;
	border: none;
	padding: 10px;
}

#Figure_01:hover{
	background-color: rgba(51, 255, 246, 0.4);
	border: 1px solid black;
}

#Vist_Sup01{
	background-color: lightblue;
	border: none;
	padding: 10px;
}

#Vist_Sup01:hover{
	background-color: rgba(51, 255, 246, 0.4);
	border: 1px solid black;
}

#Vist_Front01{
	background-color: lightblue;
	border: none;
	padding: 10px;
}

#Vist_Front01:hover{
	background-color: rgba(51, 255, 246, 0.4);
	border: 1px solid black;
}

#Vist_Lat01{
	background-color: lightblue;
	border: none;
	padding: 10px;
}

#Vist_Lat01:hover{
	background-color: rgba(51, 255, 246, 0.4);
	border: 1px solid black;
}